@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.divG 
{
	margin-top : 25px;
	margin-right:25px;
	margin-left:25px;
	background-color: white;
	display: flex;
}

body{
	background-image: url("./fd-content.png");
	height: 100%
}

.sidebar{
	margin-right: 10px;
	background-color : #f9f9f9;
}
