.header {
  background-color: #706f6f;
  height: 150px;
  display: flex;
}

.image {
  height: 100px;
  color: red;
  margin-top: 25px;
  margin-left: 50px;
}

.titre {
  box-sizing: content-box;
  font-size: 21px;
  color: white;
  text-transform: uppercase;
  margin-left: 8%;
}

.spacer {
  flex: 1 1 auto;
}
