<!--<div class = 'header'>

    <a  href="/"><img class = 'image' src=".../../../../assets/logo-angers.png" alt="logo-angers"></a>
    <h1 class = "titre">Emploi du temps</h1>
</div>-->

<mat-toolbar style="background-color: black">
  <span>
    <button routerLink="/" mat-icon-button>
      <img
        style="height: 100%; margin-top: 0%"
        src=".../../../../assets/logo-header-blanc-bleu.png"
        alt="logo-angers"
      />
    </button>
  </span>
  <span class="titre">Emploi du temps</span>
  <span class="spacer"></span>

  <span class="titre">
    <button routerLink="/admin" mat-icon-button>
    ADMIN
    </button>
  </span>


</mat-toolbar>
