.fc-event-time {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;

  color: black;
}
.fc-timegrid-event-harness:hover,
.fc-daygrid-event-harness:hover {
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2) !important;
  z-index: 1000 !important;
}
.fc-timegrid-event,
.fc-daygrid-event {
  box-shadow: 0px 0px 0px 1px #fff !important;
  cursor: pointer;
}
.fc-timegrid-event-harness .fc-content .fc-time {
  background: rgba(0, 0, 0, 0.08);
}
/*tooltip*/

.tooltip {
  position: relative;
  z-index: 9999;
  background: rgb(252, 252, 252);
  color: black;
  width: 250px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 10px;
  opacity: 0.9;
}
.tooltip > .tooltip-inner {
  background: rgb(252, 252, 252);
  background-color: #fff;
  color: #000;
  max-width: 250px;
  text-align: left;
  font-size: 12px;
}

.tooltip > .arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}
.tooltip > .arrow::before {
  visibility: hidden;
}
.tooltip > .arrow {
  border-color: rgb(138, 138, 138);
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] > .arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] > .arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] > .arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] > .arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
/* You can add global styles to this file, and also import other style files */
