
<full-calendar style="min-height: 100%;"></full-calendar>
<div id="icsdiv" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Synchroniser votre emploi du temps</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="accordion">
          <div class="card mb-4" id="cadre1">
            <div
              class="card-header pointer"
              id="headingOne"
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              <h2 class="mb-0 arrow">
                <button
                  class="btn btn-link txt-primary"
                  style="color: #0abbef !important"
                  type="button"
                >
                  <i class="fa fa-user fa-2x mr-2"></i> Application mobile UA
                </button>
              </h2>
            </div>
            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordion"
            >
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    Vous pouvez visualiser votre emploi du temps directemet sur
                    l'application mobile de l'UA : <br />
                    <div class="row g-mt-10">
                      <div class="col text-center g-font-size-10">
                        <a
                          href="https://play.google.com/store/apps/details?id=com.appscho.appschov2.univangers&gl=FR"
                          >Télécharger sur android</a
                        >
                      </div>
                      <div class="col text-center g-font-size-10">
                        <a
                          href="https://apps.apple.com/fr/app/univangers/id1463392535"
                          >Télécharger sur ios</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-4" id="cadre2">
            <div
              class="card-header pointer"
              id="headingOne"
              data-toggle="collapse"
              data-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              <h2 class="mb-0">
                <button
                  class="btn btn-link txt-primary"
                  style="color: #0abbef !important"
                  type="button"
                >
                  <i class="fa fa-user fa-2x mr-2"></i> ICS
                </button>
              </h2>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingOne"
              data-parent="#accordion"
            >
              <div class="card-body">
                <div class="row mb-4">
                  <div class="col">
                    <p class="mt-3 mb-5">
                      Vous pouvez synchroniser votre emploi du temps dans votre
                      application d'agenda (Google Agenda, Outlook, Zimbra...)
                    </p>
                    <hr />
                    <p>
                      <b>Étape 1 :</b> Copiez le lien de synchronisation en
                      cliquant sur le bouton ci-dessous :
                    </p>
                    <div class="contentBloc text-center mb-5">
                      <button
                        id="copy"
                        class="js-copy btn btn-primary btn-sm ml-3 g-mb-10"
                        data-target="#linkForm"
                      >
                        Copier le lien de synchronisation</button
                      ><br />
                    </div>
                    <hr />
                    <p>
                      <b>Étape 2 :</b> Collez le lien dans votre application
                      d'agenda. Pour plus d'informations, cliquez sur l'icône
                      correspondant à votre application d'agenda :
                    </p>
                    <div class="row g-mb-10">
                      <div class="col text-center g-font-size-10">
                        <a
                          href="http://www.univ-angers.fr/_resources/Documents/DDN/Appli/Celcat/agenda_zimbra_enseignant.pdf?download=true"
                          ><br />Zimbra</a
                        >
                      </div>
                      <div class="col text-center g-font-size-10">
                        <a
                          href="http://www.univ-angers.fr/_resources/Documents/DDN/Appli/Celcat/agenda_outlook_enseignant.pdf?download=true"
                          ><br />Outlook</a
                        >
                      </div>
                      <div class="col text-center g-font-size-10">
                        <a
                          href="http://www.univ-angers.fr/_resources/Documents/DDN/Appli/Celcat/agenda_iPhone_iPod_enseignant.pdf?download=true"
                          ><br />IPhone, IPad</a
                        >
                      </div>
                      <div class="col text-center g-font-size-10">
                        <a
                          href="http://www.univ-angers.fr/_resources/Documents/DDN/Appli/Celcat/agenda_google_agenda_enseignant.pdf?download=true"
                          ><br />Google, Android</a
                        >
                      </div>
                      <div class="col text-center g-font-size-10">
                        <a
                          href="http://www.univ-angers.fr/_resources/Documents/DDN/Appli/Celcat/agenda_ical_enseignant.pdf?download=true"
                          ><br />ICalendar</a
                        >
                      </div>
                      <div class="col text-center g-font-size-10">
                        <a
                          href="http://www.univ-angers.fr/_resources/Documents/DDN/Appli/Celcat/agenda_yahoo_agenda_enseignant.pdf?download=true"
                          ><br />Yahoo</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
