
<div style="margin: 10%">
  <mat-card>
    <mat-card-header>
      <div class="row" style="padding: 7px">
        <h1 style=" font-weight: bold">
          configuration de : {{ filiere }}
        </h1>
      </div>
    </mat-card-header>
    <mat-card-content>
      
      <fieldset class="border p-2 input-group" id="options">
        <legend class="w-auto">Options</legend>
        <table>
          <tr>
             <td>Option 1 :</td>
             <td><input type="text"/></td>
          </tr>
          <tr>
             <td>Option 2</td>
             <td><input type="text"/></td>
          </tr>
       </table>
      </fieldset>
      
      
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="warn" (click)="loadConfig()">
        <mat-icon>file_upload</mat-icon>
        Charger la configuration
      </button>
    </mat-card-actions>
  </mat-card>
</div>
