.divG {
  margin-top: 25px;
  margin-right: 25px;
  margin-left: 25px;
  background-color: white;
  display: flex;
  min-height: 100%;
}

body {
  background-image: url("../../fd-content.png");
  height: 100%;
}

.sidebar {
  margin-right: 10px;
  background-color: #f9f9f9;
  min-height: 100%;
}
