<mat-card style="margin-top: 2%" class="container">
  <mat-card-header> <h1>Liste des facultés</h1> </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-lg-4" *ngFor="let item of faculte; let i = index">
        <app-card
          subtitle="{{ item.lieuFaculte }}"
          title="{{ item.nomFaculte }}"
          color="{{ palette[i + 60].hex }}"
          [link]="'faculte/' + item.nomFaculte + '#' + item.lieuFaculte+ '#' + item.codeFaculte"
        ></app-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
