<mat-card style="margin-top: 2%" class="container">
  <mat-card-header>
    <div class="row" style="padding: 7px">
      <h4 style="color: blue">
        Rechercher l'emploi du temps d'un groupe : {{ faculte.nomFaculte }}
      </h4>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="form-row" style="padding: 5px">
      <div #inputContainer class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span>
            <i class="fas fa-search"> </i>
          </span>
        </div>
        <input
          class="form-control formSearch bl-none"
          #etapeInput
          (keyup)="etapeFilter(etapeInput.value)"
          placeholder="Rechercher..."
          type="text"
        />
      </div>
    </div>
    <div class="row" style="padding: 7px">
      <p>Nom</p>
    </div>
    <div class="list-group">
      <a
        *ngFor="let etape of etapeFiltered"
        [routerLink]="[
        etape.libelleEtape + '#' + etape.codeEtape,'edt'
        ]"
        class="list-group-item list-group-item-action"
        style="cursor: pointer"
        >{{ etape.libelleEtape }}</a
      >
    </div>
  </mat-card-content>
</mat-card>
