.container {
  width: 100%;
  background-color: white;
  padding: 30px;
}

span {
  border: 1px solid lightgrey;
  border-top-left-radius: 50cm;
  border-bottom-left-radius: 50cm;
  justify-content: center;
  padding-top: 4px;
  padding-left: 4px;
}

input:focus {
  box-shadow: none !important;
  border-color: lightgray;
}

input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 50cm !important;
  border-bottom-right-radius: 50cm !important;
  border-left: 0;
}
