@media print {
  body * {
    visibility: hidden;
  }
  body {
    margin: 0;
    color: #000;
    background-color: #fff;
  }

  full-calendar,
  full-calendar * {
    visibility: visible;
    width: fit-content;
  }
  .fc-timegrid-now-indicator-container,
  .fc-timegrid-now-indicator-container * {
    visibility: hidden;
  }
  .fc-timegrid-col-frame,
  .fc-timegrid-col-frame * {
    width: auto;
    height: auto;
  }
  full-calendar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }

  button,
  button * {
    visibility: hidden;
  }
}

body {
  background: url(./assets/bg.png);
}

app-accueil {
  width: 100%;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] > .arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] > .arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] > .arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] > .arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
