<h1 *ngIf = "data.isReussi" mat-dialog-title>Execution du solveur réussi </h1>
<h1 *ngIf = "!data.isReussi" mat-dialog-title>L'apelle du solveur à échoué   </h1>
<div mat-dialog-content>

  <div (click)="onNoClick()">
  <app-card
    title="Voir l'emploi du temps"
    [subtitle]="etape.libelleEtape"
        color="#007bff"
        [link]="'/faculte/'+faculte.nomFaculte+'#'+faculte.lieuFaculte+'#'+faculte.codeFaculte+'/'+etape.libelleEtape+'#'+etape.codeEtape+'/edt'"
      ></app-card>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Ok</button>
</div>
