<!--TODO change name of component to admin-->
<mat-card style="margin-top: 2%" class="container">
  <mat-card-header><h1>Feuille de service des enseignants</h1></mat-card-header>
  <mat-card-content>
    <div>
      <mat-card>
        <mat-card-content>
          <div class="input-group">
            <div class="custom-file">
              <input
                type="file"
                accept=".csv, .xlsx, .json"
                (change)="handleFileInput($event.target.files)"
                class="custom-file-input"
                id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01"
              />
              <label class="custom-file-label" for="inputGroupFile01">{{
                label
                }}</label>
            </div>
          </div>
          <br/>
          <mat-progress-bar
            *ngIf="this.fileToUpload != null"
            [value]="progress"
          ></mat-progress-bar>
          <span id="file-label"> </span>
        </mat-card-content>
        <mat-card-actions>
          <button
            [disabled]="this.fileToUpload == null"
            mat-button
            color="warn"
            (click)="sendFile()"
          >
            <mat-icon>file_upload</mat-icon>
            Envoyer
          </button>
          <button
            [disabled]="this.fileToUpload == null"
            mat-button
            color="warn"
            (click)="getFile()"
          >
            <mat-icon>file_download</mat-icon>
            Télécharger
          </button>
          <button
            [disabled]="this.fileToUpload == null"
            mat-button
            color="warn"
            (click)="reset()"
          >
            <mat-icon>cleaning_services</mat-icon>
            Reinitialiser
          </button>
          <button mat-button color="warn" (click)="showHideModal()">
            <mat-icon>fiber_new</mat-icon>
            Nouveau tableau
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div [hidden]="this.fileToUpload == null">
      <mat-card class="app-box" style="margin-left: 10%; margin-right: 10%; margin-top: 10%">
        <app-spreadSheet class="wide-size" [menu]="true"></app-spreadSheet>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>

<!--New modal-->
<div id="icsdiv" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Créer un nouveau tableau</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-label>Nom du fichier :</mat-label>
        <input [(ngModel)]="newName" matInput placeholder="Ex. Licence"/>
      </div>
      <div class="modal-footer">
        <button
          [disabled]="newName == ''"
          id="copy"
          class="js-copy btn btn-primary btn-sm ml-3 g-mb-10"
          data-target="#linkForm"
          data-dismiss="modal"

          (click)="createTableau(); "
        >
          Créer
        </button>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf = "etape">
<mat-card style="margin-top: 2%" class="container">
  <mat-card-header ><h1>Spécification des préférences de l'emploi du temps</h1></mat-card-header>
  <mat-card-content>

    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Date de début des cours</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="inputEmail3" placeholder="Date de début">
      </div>
    </div>
    <div class="form-group row">
      <label for="nbSemaine" class="col-sm-2 col-form-label">Nombre de semaines</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="nbSemaine" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label for="nbCreneaux" class="col-sm-2 col-form-label">Nombre de créneaux par jour</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="nbCreneaux" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label for="nbCreneaux" class="col-sm-2 col-form-label">Salles préférées</label>
      <div class="col-sm-10">

        <div  *ngFor="let nb of nbSallePref" >
          <div style="display: flex;">
        <select #select (change)="changeSalle(nb,$event.target.value)" style="margin-top: 10px;" id="preferedRooms select" class="form-control">
          <option [disabled] = "nb!=0" value="" selected>Selectionner une salle</option>
          <option *ngFor="let salle of etape.departement.salles" [disabled] = "lesSallesChoisis.includes(salle.codeSalle.toString())" [value]="salle.codeSalle">{{ salle.libelleSalle }}</option>
        </select>
        <button  class = "button_croix" *ngIf="nb==nbSallePref.length-1 && nbSallePref.length!=1" (click) = "decrementeNumber()" type="submit"><img src="../../../assets/croix.png" width = '25px'/>  </button>
      </div>
        <button [disabled]= "select.value==''" style="margin-top: 10px;" (click) = "incrementeNumber()" type="submit" class="btn btn-primary" *ngIf="nb==nbSallePref.length-1">Ajouter une salle</button>
      </div>




      </div>
    </div>


    <div>
      <p>Correspondance Salles Cours</p>


      <div style="margin-top: 10px;" *ngFor="let nb2 of nbCoresspondance" >
        <div style="display: flex;">
        <div style="width: 50%">
          <select #selectSalle (change)="changeCorrespondance(nb2,selectSalle.value,selectCours.value)" id="rooms" class="form-control" >
            <option  [disabled]="nb2!=0" value="" selected>Selectionner une salle</option>
            <option  *ngFor="let salle of etape.departement.salles" [value] = "salle.codeSalle"  >{{ salle.libelleSalle }}</option>
          </select>
        </div>
        <div  style="display: flex;width: 50%; margin-left: 10px;">
          <select #selectCours (change)="changeCorrespondance(nb2,selectSalle.value,selectCours.value)" style="margin-right: 10px;" id="courses" class="form-control">
            <option [disabled]="nb2!=0" value = "" selected>Selectionner un cours</option>
            <option [value]="classe.codeClasse" *ngFor="let classe of classeMatieres">{{ classe.matiere }}</option>
          </select>
          <button  style="margin-top: -4px;" class = "button_croix" *ngIf="nb2==nbCoresspondance.length-1 && nbCoresspondance.length!=1" (click) = "decrementeCorres()" type="submit"><img src="../../../assets/croix.png" width = '25px'/>  </button>
        </div>
      </div>
        <button [disabled]="selectSalle.value == '' || selectCours.value == '' " style="margin-top: 10px;" (click) = "incrementCorres()" type="submit" class="btn btn-primary"  *ngIf="nb2==nbCoresspondance.length-1">Ajouter correspondance </button>
      </div>

      <div style="display: flex;">
      <button [disabled]="!canGenerateDZN()"  style="margin-top: 50px;" (click) = "generateDZN()" type="submit" class="btn btn-primary"  >Générer le fichier DZN</button>
      <mat-progress-spinner *ngIf = "spinner" mode="indeterminate" [diameter]="40" class="spinner" > </mat-progress-spinner>
    </div>

    <div *ngIf = "isDznGenerate && isDZNCliqued" style="display: flex;">

      <p  style = "color: #3bb143;margin-top : revert;"> Le fichier DZN a été généré</p>
      <button (click) = "donwloadFile()" mat-icon-button  aria-label="Example icon button with a heart icon">
        <a ng-href="/palette.json"
           download>
           <mat-icon>save_alt</mat-icon>
        </a>

      </button>
    </div>

    <div *ngIf = "isDZNCliqued && !isDznGenerate">
      <p  style = "color: #fe2020;margin-top : revert;"> Erreur lors de la génération du fichier DZN</p>

    </div>

      <p *ngIf = "!canGenerateDZN()" style="color: red;">Impossible de lancer le solveur, certaines valeurs sont vides</p>


      <br>
    </div>
    <!--TODO ajout du bouton générer DZN, afficher le fichier avec la possiblité de le télécharger-->

    <div style="display: flex; height: 100px;">
        <button [disabled]=" ! (isDznGenerate && isDZNCliqued)" (click) = "launchSolveur()" type="submit" class="btn btn-primary solveurButton"  >Lancer le Solveur</button>
        <mat-progress-spinner *ngIf = "spinnerSolveur" mode="indeterminate" [diameter]="40" class="spinnerSolveur" > </mat-progress-spinner>
      </div>
  </mat-card-content>
</mat-card>
</ng-container>
