.button_croix{
    background-color: rgba(117, 190, 218, 0.0); /* 0.0 - transparent */
    border : 0;
    margin-top: 12px;
}


.spinner{
    margin-top: auto;
    margin-left: 15px;
}

.solveurButton{
    width: 80%;
    height : 100px;
    margin-bottom: 100px;
}


.spinnerSolveur{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}