.example-sidenav {
  min-height : 80%;
  width : 250px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  
}

.calendar {
  margin-right: 20px;
  margin-left: 20px;
}

.container{
  display: flex;
  max-width: 2000px !important;
  min-height: 100%;
}


.container button{
  margin-right : 20px;
  outline:none;
}

.cards{
  width : 200px;
  margin-right: 20px;
  margin-left: 20px;
}

.side{
  max-width: 400px;
}

.ensemble{
  display: flex;
  height: 100%;
}