
<div class = "ensemble">

  <div class="side">
    <mat-calendar class = 'calendar'  [(selected)]="selectedDate" (selectedChange)="dateIsChanged($event)">
    </mat-calendar>
    <div class = 'cards'>
    <app-card
    title="Liste des facultés"
    subtitle=""
        color="#1b8d81"
      ></app-card>
    <app-card
    title="Les emplois du temps"
    [subtitle]="nomFac"
        color="#007bff"
        [link]="'/faculte/'+linkFac"
      ></app-card>
    </div>
  </div>

  <div class = 'container'>

    <app-time-table></app-time-table>
  </div>

</div>
