button {
  border: 0 none;
  margin: 5% auto;
  border-radius: 6px 6px 6px 6px;
  outline: none;
  cursor: pointer;

  font-size: emCalc(18px);
  font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial,
    sans-serif;
  width: fit-content;
  height: 150px;
  width: 100%;
  transition: transform 0.5s;
}
button:hover {
  transform: scale(1.1);
}

div {
  padding-left: 1.42857rem;
  padding-right: 1.42857rem;
  color: white;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: medium;
}
p {
  font-style: italic;
  font-size: small;
}
