<button
  routerLink="{{ link }}"
  [queryParams]="queryParam"
  id="{{ title }}-{{ subtitle }}"
>
  <div>
    <h2>
      {{ title }}
    </h2>
    <p class="">
      {{ subtitle }}
    </p>
  </div>
</button>
